<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta  name="description" content="your orders">
    <meta  name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
</head>
<body>
    <main>
        <h2>Track your orders here</h2>
        <form id="trackOrders">
            <input type="text" id="orderInput" placeholder="enter your order number here" required>
            <button type="submit">track orders</button>
        </form>
        <section>
            <h3>ordered items: </h3>
            <div id="orderedLists">
                <!--These fields will be dynamically fill with JS.!-->
            </div>
        </section>
    </main>
    <script src="js/userorder.js"></script>
</body>
</html>