<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminregistrationpage</title>
</head>
<body>
    <form action="/adminregistration" method="post">
        <fieldset>
        <legend>Admins register here</legend>
        <label for="admin-name">Username</label>
        <input type="text" id="admin-name" name="admin-name" placeholder="name" required>
        <label for ="admin-password">Password</label>
        <input type="password" id="admin-password" name="admin-password" minlength="8" maxlength="20" required>
        <label for="admin-confirmpassword">Confirm your password</label>
        <input type="password" id="admin-confirmpassword" name="admin-confirmpassword" required>
        <label for="admin-email">Email</label>
        <input type="email" id="admin-email" name="admin-email" placeholder="example@gmail.com">
        <button type="submit">submit</button>
        </fieldset>
        
    </form>
    
</body>
</html>