<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-side product page</title>
</head>
<body>
    <h1>All orders</h1>
    <div id="orderFilters">
        <input type="text" id="searhOrder" placeholder="Search by order id">
        <select id="filterStatus">
            <option value="">All Statuses</option>
            <option value="Pending">Pending</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
        </select>
    </div>
    <table id="OrderTable">
        <thead>
            <tr>
                <th>Order id</th>
                <th>Product-name</th>
                <th>Quantity</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Action</th>
                <th>User Id</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
    
        </tbody>
    </table>
    <script src="/js/adminOrders.js"></script>
</body>
</html>