diff
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
</head>
<body>
    <main>
        <h1>For any enquiries use the below contacts to connect with the developer</h1>
        <ul>
            <li><a href="mailto:tungtung@gmail.com">tungtung@gmail.com</a><li>
            <li><a href="tel:6909651747">6909651747</a></li>
            <li>address: Tokyo,Sasuke Street,Japan.</li>
        </ul>
    </main>
    
</body>
</html>