<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <aside>
        <nav>
            <ul>
            <li><a href="#overview">orders</a></li>
            <li><a href="#products">products</a></li>
            <li><a href="#users">users</a></li>
            <li><a href="#orders">registration</a></li>
        </ul>
        </nav>
    </aside>

    <main>
        <section id="overview">
            <h2>Overview</h2>
            <div id="stats">
                <p>Total orders: <span id="totalOrders"></span></p>
                <p>Total Users:<span id="totalUsers"></span></p>
                <p>Total products:<span id="totalProducts"></span></p>
                <p>Total revenue:<span id="totalRevenue"></span></p>
                <p>Total sales:<span id="totalSales"></span></p>
                <p>Total Pending orders:<span id="totalPendingOrders"></span></p>
            </div>
            <div id="recentActivity">
                <h2>Recent Activities</h2>
                <ul id="recentOrdersList"></ul>
                <ul id="recentUsersList"></ul>
                <ul id="recentProductsList"></ul>
            </div>
        </section>
        <section id="products">
            <h2>Product Management</h2>
                <form id="addProducts">
                <input type="text" id="productName" placeholder="product-name">
                <input type="number" id="productPrice" placeholder="product-price">
                <input type="number" id="productStock" placeholder="product-in-stock">
                <button type="submit">Add product</button>
            </form>
            <table id="productLists">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product name</th>
                        <th>Product price</th>
                        <th>Product in stock</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table> 
        </section>
        <section id="users">
            <h2>Users Management</h2>
            <table id="userLists">
                <thead>
                    <tr>
                        <th>User id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </section>
        <section id="orders">
            <h2>order List</h2>
            <table id="orderLists">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>User ID</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </section>
    </main>
    <script src="/js/dashboard.js"></script>

</body>
</html>