<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="login page" content="login here">
        <title>login</title> 
    </head>
    <body>
        <main>
            <section>
                <form action="/orders"  method="post">
                    <fieldset>
                        <legend>login here</legend>
                        <label for="username">username</label>
                        <input type="text" id="username" name="username" placeholder="diba thaimei" required>

                        <label for="password">password</label>
                        <input type="password" id="password" name="password" required>

                       
                         <button type="submit">login</button>
                    </fieldset>
                </form>
            </section>
        </main>
    </body>
</html>