<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width,initial-scale=1.0">
        <meta name="login page", content="login here">
        <title>login</title> 
    </head>
    <body>
        <main>
            <section>
                <form action="/orders", method="post">
                    <fieldset>
                        <legend>login here</legend>
                        <label for="urname">loginusername</label>
                        <input type="text" id="loginurname" name="loginusername" placeholder="diba thaimei" required>
                        <label for="userpassword">password</label>
                        <input type="password" id="userpassword" name="userpassword" required>
                        <label for="confirmuserpassword">confirm your password</label>
                        <input type="password" id="confirmuserpassword" name="confrirmuserpassword" required>
                    </fieldset>
                </form>

            </section>
           
        </main>
         <section>
               <footer>
                    <button type="submit">login</button>
                </footer>
            </section>
    </body>
</html>