<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta charset name="description" content="your orders">
    <meta charset name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orders</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <main>
        <h2>Track your orders here</h2>
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="enter your order number here" required>
            <button type="submit">track orders</button>
        </form>
        <section>
            <h3>your orders items: </h3>
            <ul>
            <li></li>
            </ul>
        </section>
    </main>
    
</body>
</html>