<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta  name="description" content="your orders">
    <meta  name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orders</title>
</head>
<body>
    <main>
        <h2>Track your orders here</h2>
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="enter your order number here" required>
            <button type="submit">track orders</button>
        </form>
        <section>
            <h3>ordered items: </h3>
            <ul>
            <li th:each="order: ${orders}">
                Order ID: <span th:text="${order.id}"></span><br>
                Product: <span th:text="${order.productName}"></span><br>
                Quantity: <span th:text="${order.quantity}"></span>
                Image: <img th:src="${order.imageURL}" alt="product image"/><br>
            </li>
            </ul>
        </section>
    </main>
    
</body>
</html>