<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="product details">
        <title>Product Details</title>
    </head>
    <body>
        <header>
            <h1 th:text="${product.name}">Product Name></h1>
        </header>
        <main>
            <img th:src="${product.imageURL}" alt="product image" with="300" height="300" />
            <p><strong>Description:</strong><span th:text="${product.description}">product description</span></p>
            <p><strong>price:</strong><span th:text="${product.price}">00.0</span></p>
            <form th:action="@{/cart/add}" method="post">
                <input type="hidden" name="productId" th:value="${product.id}" />
                <button type="submit">Add to Cart</button>
    
            </form>

        </main>
    </body>