<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin's login page</title>
</head>
<body>
    <main>
        <h2>Admins Login here</h2>
        <form action="/adminlogin" method="Post">
            <label for ="adminusername">Username:</label>
            <input type="text" id="adminusername" name="adminusername" placeholder="Cowboy" required>
            <label for="adminpassword">Password:</label>
            <input type="password" id="adminpassword" name="adminpassword" maxlength="100" minlength="8" required>
            <button type="submit">Login</button>
        </form>
    </main>
    
</body>
</html>