<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="login page" content="login here">
        <title>login</title> 
    </head>
    <body>
        <main>
            <section>
                <form id="loginform">
                    <fieldset>
                        <legend>login here</legend>
                        
                        <label for="username">username</label>
                        <input type="text" id="username" name="username" placeholder="diba thaimei" required>

                        <label for="password">password</label>
                        <input type="password" id="password" name="password" required>

                         <button type="submit">login</button>
                    </fieldset>
                </form>
                <p id="loginMessage"></p>
                <p class="error-message" th:if="${param.error}">Invalid Credentials</p>
                <p class="logout-message" th:if="${param.logout}">you have been logged out</p>
            </section>
        </main>
    </body>
</html>