<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <meta name="description" content="payment">
        <title>Checkout</title>
    </head>
    <body>
        <main>
           <section id="paymentStatus">
            <h1>Payment status:</h1>
           </section>
           <section id="orderDetails">
            <table>
                <thead>
                <tr>
                    <th>Product name</th>
                    <th>Quantity</th>
                    <th>Total price</th>
                </tr>
            </thead>
            <tbody id="orderTable">
                <!--will be dynamically filled with JS-->
            </tbody>
            </table>
           </section>
        </main>
        <script src="js/payment.js"></script>
    </body>
</html>