<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="product details">
        <title>Product Details</title>
    </head>
    <body>
        <header>
            <h1> Product Name</h1>
        </header>
        <main>
           <div id="ProductDetails">
            //Product details will be dynamically loaded here via JS
           </div>

        </main>
        <script src="js/ProductDetails.js"></script>
    </body>