<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Lazy to look for products just tell AI what you want and it will be added to your cart instantly">
        <title>your cart</title>
    </head>
    <body>
        <main>
            <h2>Your shopping Cart</h2>
            <div th:if="${#lists.isEmpty(cartItems)}" border="1">
                <p>Your Cart is empty.</p>
            </div>

            <table th:if="${!#lists.isEmpty(cartItems)}" border="1">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item: ${cartItems}">
                        <td><img th:src="${item.imageURL}" width="50" /></td>
                        <td th:text="${item.productName}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.price * item.quantity}"></td>
                        <td>
                            <form th:action="@{/cart/remove/{id}(id=${item.id})}" method="post">
                                <button type="submit">remove</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${!#lists.isEmpty(cartItems)}">
                <p>
                    <strong>total amount:</strong>
                    <span th:text="${totalPrice}"></span>
                </p>
                <form th:action="@{/payment}" method="get">
                    <button type="submit">checkout</button>
                </form>

            </div>
        </main>
        
    </body>
    </html>